AuthName "Restricted Area - Alo Cinema Employees Only"
AuthType Basic
AuthUserFile /var/www/vhosts/alocinema.com/httpdocs/employees/.htpasswd
AuthGroupFile /dev/null
<Files index.html>
require valid-user
</Files>
