body {
}
/*unset bs3 settings*/
.doc-list{
  width:90%;
  margin:0 auto;
  text-align: center;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color:#f2721b;
}

body>.container{
  margin-top:110px;
}
.header{
  border:none;
}
.logo img{
  width:90px;
  height:90px;
  margin-top:-5px;
}
.navbar-nav.navbar-right li a{
  color:white;
  font-size:1.15em;
}
.navbar-fixed-top {
  height:110px;
  background-color:#070836;
  border:none;
}
.col-center{
  float:none;
  margin:0 auto;
}
.nav{
  margin-top:30px;
}
.home.section{
  height:724px;
  margin-top:110px;
  /*background:url("../images/home-bg.png") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
  src='images/logo.gif',
  sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(
  src='../images/home-bg.png',
  sizingMethod='scale')";
  -khtml-opacity:.90;
  -moz-opacity:.90;
  -ms-filter:"alpha(opacity=90)";
  filter:alpha(opacity=90);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.9);
  opacity:.90;*/
}
.safety{
  display:none;
  margin-top:80px;
  min-height:60px;
  text-align:center;
  background-color:white;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; /* IE 8 */
  filter: alpha(opacity=70); /* IE 5-7 */
  -moz-opacity: 0.7; /* Netscape */
  -khtml-opacity: 0.7; /* Safari 1.x */
  opacity: 0.7; /* Good browsers */
}
.safety h3{
  padding:12px 10px 12px 10px;
  letter-spacing:1px;
  font-style:italic;
  font-weight:900;
  color:#070836;
  font-size:2.3em;
  font-family: 'Crimson Text', serif;
}
.safety-quotes{
  color:#f2721b;
  font-family: 'Crimson Text', serif;
}
.about-us{
  /*background:rgba(242, 114, 27, 0.8);*/
  background:rgba(242, 114, 27, 1);
  min-height:724px;
}
.about-us-text h1{
  font-family:"HelveticaNeue-CondensedBold", "Helvetica Neue";
  text-align:center;
  margin:70px 0 40px 0;
  color:#070836;
}
.about-us-text p{
  font-family:"HelveticaNeue-Light", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size:1.1em;
  line-height:210%;
}
.space{
  margin-top:80px;
  margin-bottom:80px;
  border:none;
  height:3px;
  background-color:#fff;
}
.about-us-quote{
  text-align:center;
  letter-spacing:1px;
  font-style:italic;
  font-weight:900;
  color:#070836;
  font-size:2.3em;
  font-family: 'Crimson Text', serif;
  padding-bottom:50px;
}
.quote{
  color:white;
}
.we-install{
  display:none;
  margin-top:180px;
  height:300px;
  background-color:rgba(242, 114, 27, 1.0);
}
.dismantle{
  padding-top:5%;
  color:#fff;
  letter-spacing:.8px;
  font-family:"HelveticaNeue-CondensedBold", "Helvetica Neue";
  text-align:center;
}
.work{
  /*height:730px;*/
}
.work h1{
  padding:30px 0 40px 0;
  font-family:"HelveticaNeue-CondensedBold", "Helvetica Neue";
  text-align:center;
  color:#070836;
}
.work.section{
  background:url("../images/blueprint-lg.png") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#map{
  margin: 0 auto;
}
.faq.section{
  min-height:724px;
  background:url("../images/climbers.png") no-repeat center 95%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
  src='images/logo.gif',
  sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(
  src='../images/home-bg.png',
  sizingMethod='scale')";
}
.faq h1{
  text-align:center;
  font-family:"HelveticaNeue-CondensedBold", "Helvetica Neue", Helvetica,sans-serif;
  color:#070836;
  margin:30px 0 30px 0;
}
.contact{
  min-height:724px;
}
.contact-content{
  padding-top:5%;
}
.map h2{
  text-align:center;
  color:#070836;
  font-family:"HelveticaNeue-CondensedBold", "Helvetica Neue", Helvetica,sans-serif;
  padding-bottom:30px;
}
.map-container{
  margin:0 auto;
}
#google-map{
  margin: 0 auto;
  width:350px;
  height:350px;
}
.infowindow{
  color:#070836;
  font-family:"Helvetica Neue", Helvetica,sans-serif;
}
.contact-form h2{
  text-align:center;
  color:#070836;
  font-family:"HelveticaNeue-CondensedBold", "Helvetica Neue", Helvetica,sans-serif;
}
.submit-button{
  margin-bottom:100px;
}
.form-group{
  margin-top:30px;
}
.form-group input{
  margin-bottom:-20px;
}
.form-group label{
  color:#070836;
}
.footer{
  position:absolute;
  bottom:0;
  height:160px;
  width:100%;
  background-color:#f2721b;
  font-family: "HelveticaNeue-CondensedBold", sans-serif;
}
.footer li{
  list-style:none;
}
.address{
  padding:50px 0px 0px 10%;
}
.footer-logo{
  padding:25px 0px 0px 5%;
}
.footer-contact{
    padding:50px 0px 0px 0px;
}
.copyright{
  color:white;
  text-align:center;
  font-family: "HelveticaNeue-CondensedBold", sans-serif;
  position:absolute;
  bottom:5px;
}

/*carousel styles*/
.carousel-control.left, .carousel-control.right {
    background-image:none !important;
    filter: progid:none !important;
}
.specialized{
    margin: 0;
    color: #070836;
    padding-top: 135px;
    font-size: 3em;
    font-family: "HelveticaNeue-CondensedBold", sans-serif;
}
.item{
    text-align: center;
    height: 300px !important;
}
.carousel{
    margin-top: -76px;
}

.we-work{
  background-color:rgba(7, 8, 54, 0.7);
  color:#fff;
  font-family:"HelveticaNeue-CondensedBold", 'Helvetica', sans-serif;
  text-align:center;
  padding:10px;
  margin-bottom:40px;
}
.we-work ul{
  list-style: none;
  display: inline-block;
  padding:0px 8px 0px 8px;
}
.we-work h4{
  color:#f2721b;
}
.we-work p{
  font-family:'helvetica', sans-serif;
  font-size:1.2em;
  padding:5px 10px 0 10px;
}
.hide{
  display:none;
}
.faq_qs{
  background-color:rgba(7, 8, 54, 0.7);
  background-color:rgba(7, 8, 54);
  cursor: pointer;
  color:#fff;
  font-family:"HelveticaNeue-CondensedBold", "Helvetica Neue", Helvetica,sans-serif;
  height:600px;
}
.faq_qs h4{
  margin:0px -15px 0px -15px;
  padding:20px 0px 0px 15px;
  font-size:1.4em;
  height:60px;
}
.faq_as{
  background-color:#f2721b;
  height:600px;
  color:#070836;
}
.faq_as p{
  color:#070836;
  padding:0px 10px 0 10px;
  line-height:2.0;
  font-size:1.5em;
  font-family:"Helvetica Neue", Helvetica,sans-serif;
}

.smallp{
  margin-top:230px;
}
.mediump{
  margin-top:190px;
}
.largep{
 margin-top:80px;
}

.faq_qs h4.active{
  background-color:#f2721b;
  color:#070836;
}

/*collapsable faq*/
.faq_question {
  width:100%;
  margin: 0px;
  padding: 10px 0px 10px 0px;
  display: inline-block;
  cursor: pointer;
  color:#fff;
  font-family:"HelveticaNeue-CondensedBold", "Helvetica Neue", Helvetica,sans-serif;
  border-bottom:solid 3px #f2721b;
}
.faq_answer{
  color:#070836;
  background-color:#f2721b;
  /*padding:5px 5px 5px 5px;*/
}
.faq_container{
  /*margin-bottom:40px;*/
  text-align:center;
  background-color:rgba(7, 8, 54, 0.7);
  background-color:rgba(7, 8, 54);
  color:white;
  /*min-height:67px;*/
}
.faq_answer_container {
  height: 0px;
  overflow: hidden;
  padding: 0px;
}

.answer{
  color:#070836;
  background-color:#f2721b;
  display:none;
}
/*mobile nav styles*/
.navbar-collapse{
  background-color:#070836;
}
.navbar-default .navbar-toggle{
  border-color:#fff;
  background-color:#f2721b;
}
.navbar-default .navbar-toggle .icon-bar{
  background-color:#070836;
}

/*bootstrap media queries*/
@media(max-width:767px){
  .safety{
    margin-top:40px;
  }
  .we-install{
    margin-top:100px;
  }
  .home.section{
    padding-top:0px;
    height:650px;
  }
  .address{
  padding:35px 0px 0px 0px;
  }
  .footer-contact{
  padding:35px 0px 0px 0px;
  }
  #map{
    width:250px;
    height:180px;
  }
  #google-map{
    width:300px;
    height:300px;
  }
  .work{
    min-height:400px;
  }
}
@media(min-width:768px){
  #map{
    width:500px;
    height:350px;
  }
}
@media(min-width:992px){
  #map{
    width:700px;
    height:450px;
  }
}
@media(min-width:1200px){
  #map{
    width:700px;
    height:450px;
  }
}

/*background fade in/out*/
#background_cycler{margin-top:110px;margin:0;width:100%;position:absolute;top:0;left:0;z-index:-1}
#background_cycler img{margin-top:110px;height:724px;position:absolute;left:0;top:0;width:100%;z-index:1}
#background_cycler img.active{z-index:3}

/*#myModal{
  margin-top:-120px;
}
*/
.footer-contact img{
  width:100px;
  height:58px;
  margin:5px 0 0 15px;
}
