body {
}
body>.container{
  margin-top:110px;
}
.header{
  border:none;
}
.logo img{
  width:90px;
  height:90px;
  margin-top:-5px;
}
.navbar-nav.navbar-right li a{
  color:white;
  font-size:1.15em;
}
.navbar-fixed-top {
  height:110px;
  background-color:#070836;
  border:none;
}
.nav{
  margin-top:30px;
}
.section{
  height:724px;
}
.home.section{
  margin-top:110px;
  background:url("../images/home-bg.png") no-repeat center 95%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
  src='images/logo.gif',
  sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(
  src='../images/home-bg.png',
  sizingMethod='scale')";
}
.safety{
  background-color:white;
}
.safety-quote-text{
  color:#070836;
}
.safety-quotes{
  color:#f2721b;
}
.about-us{
  background-color:#f2721b;
}
.we-install{
  margin-top:180px;
  height:350px;
  background-color:#f2721b;
}
.we-install h2{
  color:#070836;
  font-family:"HelveticaNeue-CondensedBold", "Helvetica Neue";
  text-align:center;
}


.faq.section{
  margin-top:110px;
  background:url("../images/climbers.png") no-repeat center 95%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
  src='images/logo.gif',
  sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(
  src='../images/home-bg.png',
  sizingMethod='scale')";
}
.footer{
  position:absolute;
  bottom:0;
  height:160px;
  width:100%;
  background-color:#f2721b;
}
